<footer class="bd-footer py-4 py-md-5 mt-5 text-white navbar" style="background-color: #62016b;">
    <div class="container py-4 py-md-1 px-4 px-md-3">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">Calle S/N, colonia Hidalgo, Ciudad Pachuca País Mexico.</li>
            <li class="mb-2"></li>
            <li class="mb-4">lacasadelospostres@gmail.com</li>
            <li class="mb-2"></li>
          </ul>
        </div>
        <div class="col-6 col-lg-4 offset-lg-1 mb-3">
          <h5>La Casa De Los Postres</h5>
          <ul class="list-unstyled">
            <li class="mb-2 "><a [routerLink]="['/home']">Inicio</a></li>
            <li class="mb-2"><a [routerLink]="['/menu']">Menu</a></li>
            <li class="mb-2"><a [routerLink]="['/acercade']">Acerca de</a></li>
            <li class="mb-2"><a [routerLink]="['/error400']">Pedidos </a></li>
            <li class="mb-2"><a [routerLink]="['/error500']">Sesion </a></li>
          </ul>
        </div>

      
        <div class="col-6 col-lg-3 mb-2" >
          <h5>Redes sociales</h5>
          <ul class="list-unstyled">
            <i class="bi bi-facebook rounded float-start"></i>          
            <li class="mb-2"><a href="#">Facebook</a></li><br>
            <i class="bi bi-twitter rounded float-start"></i>
            <li class="mb-2"><a href="#">Twitter</a></li>          
          </ul>
        </div>
      </div>
    </div>
  </footer>