<div class="container">
    <header class="py-3 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-primary text-decoration-none">
            <nav class="d-flex">
              <h6 class="mb-0">
                <a href="" class="text-reset">Home</a>
                <span>/</span>
                <a href="." class="text-reset">Acerca de</a>           
              </h6>
            </nav>
          </a>
        </div>
    </header>

<div class="container">
    <div class="container">
        <div class="text-center mx-auto mb-5 pb-3">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="fondo">
                  

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 550px;">
            <font color="Olive" face="Comic Sans MS,arial"></font>
            <h1 align="center"><i>Con sabor a hogar, el sabor de los recuerdos </i></h1>
            <h4>Muchas de las frutas y semillas de la región han sido la clave del sabor de cada postre</h4>
        </div>
    </div>
</div>
<div class="row align-items-md-stretch position-relative mx-auto mb-5 pb-3">
    <div class="col-md-6" data-aos="fade-down-left">
      <div class="h-100 p-5 border rounded-3" style="background-color: rgb(243, 179, 102); width: 1050px;">
      
        <p>Mezclando el coco pasional con el chocolate y el fuego volcánico, las almendras, nueces, manzanas, arándanos, fresas, vainilla 
            y con la brisa del mar, elementos que al conjugarse hacen inolvidables los momentos más especiales en familia.<br>
            Recuerdos más deliciosos que puedes revivir una y otra vez. Tenemos desde el 2003 deleitando a las familias de Colima.</p>            
      
          <p>La responsable de éstas delicias es Alicia Cárdenas y un increíble equipo de trabajo que hemos dejado de ser solo un postre, a 16 años 
            del inicio del sueño nos convertimos en La Casa del Postre, porque aquí hay un ritual, 
            aquí todos los días nos levantamos llenos de amor y pasión para preparar cada uno de nuestros postres detalladamente, que cada chispa 
            de chocolate, ralladura de coco o betún tengan el sabor y la figura perfecta con un solo objetivo, que encuentres en La Casa del Postre, 
            tu postre perfecto.<br></p>            
        </div>
      </div>       
</div>





<!-- About End -->