     
     <div class="container" >
        <h1>Lista De Pedidos</h1>
        <div class="search">
            <form>
                <input type="text" placeholder="Agregar Pedidos...">
             
                <button class="btn-add">Agregar</button>
                
            </form>
        </div>
        <div class="li-container">
            <ul>
                
            </ul>
        </div>
        <div class="empty">
            <p>No hay pedidos pendientes</p>
        </div>
    </div>



