<nav class="navbar navbar-expand-lg bg-body-tertiary"  style="background-color: #ffd50067;">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li><a routerLink="" class="nav-link px-2 text-secondary active text-end">Inicio</a></li>
        <li><a [routerLink]="['/menu']" class="nav-link px-2 text-secondary">Menu</a></li>
        <li><a [routerLink]="['/acercade']" class="nav-link px-2 text-secondary">Acerca De</a></li>
        <li><a [routerLink]="['/pedidos']" class="nav-link px-2 text-secondary">Pedidos</a></li>
        <li><a [routerLink]="['/posts']" class="nav-link px-2 text-secondary">Busquedas</a></li>
        <li><a [routerLink]="['/register']" class="nav-link px-2 text-secondary">Register</a></li>
        <li><a [routerLink]="['/login']" class="nav-link px-2 text-secondary">login</a></li>
      </div>
    </div>
  </div>
  
 
</nav>


<main>
<router-outlet></router-outlet>
</main>
<app-scrool></app-scrool>

